:root {
	--tv-green: #29B475;
	--tv-light-green: #EAF8F2;
	--tv-dark: #16252D;
	--tv-light-dark: #343A40;
	--tv-btn-hover-green: #259f68;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: white;
}

/* overwritten bootstrap */

.bg-dark {
	background-color: var(--tv-dark)!important;
}

.nav-link {
	color: white;
}

.nav-link:hover {
    color: var(--tv-light-green);
}

.active{
    color: var(--tv-green)!important;
}

.offcanvas-title{
	color: white;
}

.btn-primary{
	background-color: var(--tv-green);
	border-color: var(--tv-green);
}

.btn-primary:hover {
	background-color: var(--tv-btn-hover-green);
	border-color: var(--tv-btn-hover-green);
}

.card{
	border: none;
	background-color: var(--tv-light-dark);
}

.card-header {
	border: none;
	background-color: var(--tv-light-dark);
}

.carousel-item img {
	object-fit: cover;
	object-position: center;
	height: 70vh;
	overflow: hidden;
}

footer .nav-link{
	padding: 0.5rem;
}

/* header */

header{
	height: 100vh;
	width: 100%;
	background-image: url(img/mainbanner.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

.text-box{
	width: 80%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.big {
    font-size: calc(3rem + 1.5vw);
}

.arrow-down .fas{
	width: 80%;
	color: #fff;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.sub-header{
	height: 50vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: center;
}

.img-about{
	background-image: url(img/subbannerabout.jpg);
}

.img-work{
	background-image: url(img/subbannerwork.jpg);
}


/* contact */

#contact{
	background-color: var(--tv-light-dark);
	color: white;
}

/* footer */

footer{
	background-color: var(--tv-dark);
	color: white;
}